version: 1.0.{build}
os: Windows Server 2012 R2
platform: x64
configuration: Release
environment:
  matrix:
  - CMAKE_GENERATOR: "NMake Makefiles"
    ARCH: "amd64_x86"
  - CMAKE_GENERATOR: "NMake Makefiles"
    ARCH: "amd64"
install:
  - SET PATH=C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC;%PATH%
  - git clone --quiet https://github.com/Biomechanical-ToolKit/BTKData.git Testing/Data
before_build:
  - vcvarsall %ARCH%
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE:CHAR=%CONFIGURATION% -DBUILD_SHARED_LIBS:BOOL=1 -DBUILD_TESTING:BOOL=1 -DBTK_TESTING_DATA_PATH:CHAR=C:\projects\btkcore\Testing\Data -G %CMAKE_GENERATOR% ..
build_script:
  - echo BUILD INFO - %CMAKE_GENERATOR% / %ARCH% / %CONFIGURATION%
  - nmake
test_script:
  - ctest -VV